.dummy{
	color : black;
}

.container {
    max-width: 98vw;
    margin: auto;
}

.employee-heading {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline var(--lwc-brandPrimary) solid 1px;
    text-underline-position: under;
    margin-bottom: 5px;
    text-align: left;
}

.slds-card__header p.employee-heading+p {
    font-size: 0.9rem;
    text-align: left;
}

.slds-grid:not(:first-child) {
    padding-top: 15px;
}