.container {
    max-width: 98vw;
    margin: auto;
}

section {
    margin-top: 20px;
}

.employee-heading {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline var(--lwc-brandPrimary) solid 1px;
    text-underline-position: under;
    margin-bottom: 5px;
    text-align: left;
}

.slds-card__header p.employee-heading+p {
    font-size: 0.8rem;
    text-align: left;
}

.slds-grid:not(:first-child) {
    padding-top: 15px;
}

.input[disabled]+lightning-primitive-icon {
    display: none;
}

.logo {
    font-weight: normal;
    font-size: 15px;
    margin-right: 2px;
}